<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.the.dao.EmployeeMapper">
    <select id="getEmployeeByID" resultType="HashMap">
        select name,employeeID
        from employee
        where employeeID=#{employeeID};
    </select>
    <select id="getEmployeeByKeyword" resultType="HashMap">
        select name,employeeID
        from employee
        where name like "%"#{keyword}"%";
    </select>
</mapper>